---
import "@/styles/global.css";
import type { SanityDocument } from "@sanity/client";
import Metadata from "@/components/metadata.astro";
import Navigation from "@/components/navigation.astro";

type Props = {
  page: SanityDocument;
  title: string;
  description: string;
  image: string;
  imageAlt?: string;
  noIndex: boolean;
};

import { VisualEditing } from "@sanity/astro/visual-editing";

const visualEditingEnabled =
  import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED === "true";

const { title, description, image, imageAlt, noIndex } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content={Astro.generator}>
    <link
      rel="preload"
      href="/fonts/satoshi-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    >
    <Metadata
      title={title}
      description={description}
      image={image}
      imageAlt={imageAlt}
      noIndex={noIndex}
    />
  </head>
  <body class="bg-background text-foreground text-balance">
    <Navigation/>
    <slot/>
    <VisualEditing enabled={visualEditingEnabled}/>
  </body>
</html>
